@use 'variables' as *;
@use 'sass:color';

.header--container {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08);
    border-bottom: 0.05rem solid #d0ccde;
}

.section--products,
.section--stem-blog {
    img {
        border: 1px solid #d0ccde;
        border-radius: 0.5rem;
        box-shadow: 0 0 13px 8px rgba(0, 0, 0, 0.15);
        transition: tranform 1s ease-in-out;

        &:hover,
        &:focus {
            box-shadow: 0 0 13px 8px rgba(0, 0, 0, 0.1);
        }
    }
}

.footer--content {
    .logo--container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        margin: 0;

        .site--logo {
            aspect-ratio: 3/2;
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-image: url('#{$footerLogo}');
            margin: 0 !important;
            padding: 0;
            width: 250px;
            height: 167px;

            .site--title {
                color: transparent;
                position: absolute;
                top: -800px;
            }
        }
    }
}
.header--nav {
    .logo--container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        aspect-ratio: 3/2;

        .site--logo {
            aspect-ratio: 3/2;
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-image: url('#{$logo}');
            margin: 0 !important;
            padding: 0;
            width: 160px;
            height: 107px;

            .site--title {
                color: transparent;
                position: absolute;
                top: -800px;
            }
        }
    }
}

.gw-mm__toggle {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}

.gw-mm {
    &.is-mobile {
        &.is-opened {
            .gw-mm__content-wrapper {
                background-color: oklab(0.99 -0 0.03);
            }
        }
    }
}

.gw-mm-item {
    &__link a {
        color: var(--wp--preset--color--primary);
        text-underline-offset: 0.3rem;
        &:hover,
        &:focus {
            text-underline-offset: 0.3rem;
            -webkit-text-decoration: underline solid;
            text-decoration: underline solid;
            -webkit-text-decoration-color: var(--wp--preset--color--primary);
            text-decoration-color: var(--wp--preset--color--primary);
        }
    }

    &__dropdown {
        background-color: oklab(0.99 -0 0.03);
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08);
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        .wp-block-column {
            background-color: transparent;
        }
    }
    &__dropdown-content {
        a {
            text-underline-offset: 0.3rem;
            color: var(--wp--preset--color--primary);
            &:hover,
            &:focus {
                text-underline-offset: 0.3rem;
                -webkit-text-decoration: underline solid;
                text-decoration: underline solid;
                -webkit-text-decoration-color: var(
                    --wp--preset--color--primary
                );
                text-decoration-color: var(--wp--preset--color--primary);
            }
        }
    }
}

.no-margin {
    margin-top: 0;
}

nav {
    .no-background {
        background-color: transparent !important;
    }
}

.wp-block-navigation a:where(:not(.wp-element-button)) {
    text-underline-offset: 0.3rem;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    font-weight: 400;

    &:hover,
    &:focus {
        text-underline-offset: 0.3rem;
        -webkit-text-decoration: underline solid;
        text-decoration: underline solid;
        -webkit-text-decoration-color: var(--wp--preset--color--primary);
        text-decoration-color: var(--wp--preset--color--primary);
    }
}

a {
    color: var(--wp--preset--color--primary);
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    -webkit-text-decoration-color: var(--wp--preset--color--primary);
    text-decoration-color: var(--wp--preset--color--primary);
    &:hover,
    &:focus {
        text-underline-offset: 0.3rem;
        -webkit-text-decoration: underline solid;
        text-decoration: underline solid;
        -webkit-text-decoration-color: var(--wp--preset--color--primary);
        text-decoration-color: var(--wp--preset--color--primary);
    }
}

a:where(:not(.wp-element-button)) {
    text-underline-offset: 0.3rem;
    color: var(--wp--preset--color--primary);
    &:where(.product-btn, .resourse-btn) {
        color: var(--wp--preset--color--primary);
        border-radius: 0.4rem;
        font-size: var(--wp--preset--font-size--small);
        font-weight: bold;
        white-space: nowrap;
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted;

        &:hover,
        &:focus {
            -webkit-text-decoration: underline solid;
            text-decoration: underline solid;
        }
    }
}
.left-padding-1 {
    padding-left: 1rem;
}
.wp-block-group {
    margin-top: 0;
}

.wp-site-blocks {
    min-height: 100vh;

    .is-position-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1200;
    }
}

.posts-data-table {
    .odd {
        background-color: var(--wp--preset--color--tertiary);
    }
    .col-description {
        font-size: var(--wp--preset--font-size--small);
    }
    .odd,
    .even {
        padding-top: 0.4rem;
        padding-bottom: 0.8rem;
    }
}

// set main color for image caption
div[class*='wp-block-'],
.wp-block-image {
    figcaption {
        font-size: var(--wp--preset--font-size--x-small);
        color: var(--wp--preset--color--black);
        font-weight: var(--wp--custom--font-weight--normal);
        line-height: var(--wp--custom--line-height--tight);
    }
}

// use with testimonials
.superblockslider__slide_inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

// megamenu
.wp-block-getwid-megamenu-item {
    .dashicons-arrow-down-alt2 {
        vertical-align: middle;
    }
}

// use with locations where a date is set
.dashicons-calendar-alt {
    margin-top: 3px;
}

@media screen and (max-width: 600px) {
    .logo--nav--container {
        justify-content: space-between;
    }
    .gw-mm {
        &.is-mobile {
            &:not(.is-opened) {
                justify-content: space-around;
            }
        }

        &.is-mobile {
            &.is-opened {
                .gw-mm__content-wrapper {
                    position: initial;
                    max-width: 90vw;
                }
            }
        }
    }
    .wp-site-blocks {
        .is-position-sticky {
            position: inherit !important;
        }
    }
    .wp-block-getwid-megamenu {
        .gw-mm__toggle-wrapper {
            display: flex !important;
            justify-content: flex-end;
        }
    }
    .wp-container-24 {
        box-shadow: none;
    }
}
@media screen and (max-width: 400px) {
    .logo--nav--container {
        display: flex;
        justify-content: space-around !important;

        .gw-mm {
            &.is-mobile {
                &:not(.is-opened) {
                    position: relative;
                }
            }

            &.is-mobile {
                &.is-opened {
                    .gw-mm__content-wrapper {
                        position: initial;
                        max-width: 90vw;
                    }
                }
            }
        }
    }

    .wp-site-blocks {
        .is-position-sticky {
            position: inherit !important;
        }
    }
    .wp-block-getwid-megamenu {
        .gw-mm__toggle-wrapper {
            display: flex !important;
            justify-content: center;
        }
    }
    .wp-container-24 {
        box-shadow: none;
    }
}

// div containing navigation
.wp-container-24 {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.08);
}
