#---------------------------
# WordPress general
#---------------------------
/index.php

/node_modules
#---------------------------
# Composer
#---------------------------
/vendor
.env
.env.*
!.env.example