#---------------------------
# WordPress general
# @date 2024-1-2
#---------------------------
/index.php

/node_modules
#---------------------------
# Composer
#---------------------------
/vendor
.env
.env.*
!.env.example